
*{
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 800; margin-bottom: 0
}
.btn-primary-custom	{
	background: #007040;
	color: #fff;
	font-size: 14px;

}
.btn-primary-custom:hover	{
	color: #fff;

}
.btn-secondary-custom{
	background: transparent;
	border: 2px solid #06468b; 
	font-size: 14px;
	color: #06468b 
}
.btn-secondary-custom:hover{
	background: #06468b;
	color:  #fff !important
}
.row{
	margin: 0
}
.a-menu{
	font-size: 25px !important;
	color: #06468b !important
}
.a-menu:hover{
	color: #06468b !important
}
.nav-item{
	margin: .5rem 0rem
}
.title-page>h1{
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 2px;
}
.title-page{
	display: flex; 
	margin-bottom: 1%
}
.btn-back{
	align-self: center
}
.btn-icon-back{
	font-size: 30px;
	margin-right: 5px;
	color: #06468b
}
.btn-actions{
	margin: 2% 0%
}
.icons-nav{
	color: #06468b;
	font-size: 35px;
	margin: 0rem .2rem
}
.item-tab{
	padding: 0rem .5rem;
}
.item-tab>.nav-link{
	color: #000;
	font-size: 18px
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #06468b;
    border-radius: 5px;
    border-color: transparent;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}
.navegation{
background: #fafafa; height: auto; padding: 0rem 1rem
}
.item-nav {
    padding: 0rem 1rem;
    margin: 20% 0%;
}
.nav-pills .nav-link{
	color: #06468b;
}
.nav-n .item-nav-navbar.active {
    color: #06468b;
    border-left: 8px solid #007040;
    border-radius: 0px;
    background: none;
}
.content{
	background: #eeeeee; 
	padding: 3rem 2rem;
	padding-bottom: 20rem;
	width: 90%
	}
.input-search{
	width: 100%
}
.order-select{
	display: flex; list-style: none; padding: 0rem; width: 100%; margin-bottom: 0rem;
}
.select-filter {
	width: 100%; margin-right: 2%
}
.form-control:focus {
    color: #495057;
    border-color: #495057;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}
.search-filter-tab{
	border-radius: 50px;
	width: 65%
}

.card-completed{
	box-shadow: 0px 0px 10px #bdbdbd;
	margin-top: 5px;
	border-radius: 5px
}
.bg-head-details{
	background: #fff;
	padding: 0.5rem 1rem;
}
.head-details{
	background: #fafafa;
	border-radius: 5px;
	padding: 0rem
}
.section-details{
	padding: 0rem
}
.content-details{
	background: #fafafa;
	border-radius: 5px;
	padding: 0rem 2rem
}
.text{
	font-size: 14px;
	font-weight: 500
}
.ul-details{
	padding: .5rem 1rem;
	list-style: none;
	margin-bottom: 0rem
}
.ul-details>li{
	margin: .5rem 0rem;
	display: inline-flex !important;
	width: 100%
}
.icons-details{
	color: #5a96be;
	font-size: 20px;
	margin-right: 5px;
	width: 20px
}
.a-details{
	padding-top: 2rem;
}
.a-details>a{
	color: #444444;
}
.status{
	color: #700000
}
.navegation-mobile{
		display: none;
	}
.page-link {
    color: #06468b;
    background-color: #fff0;
    border: 0px solid #dee2e6;
}
.page-item.disabled .page-link {
    background-color: #fff0;
    border-color: #dee2e6;
}
.pagination-nav {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #ffffff;
    border-radius: 50%;
    margin: 0rem 0.2rem;
    background-color: #06468b;
    border: 0px solid #dee2e6;
    font-size: 12px;
}

.btn-filter-index{
	width: 32%; 
	font-size: 16px; 
	padding: .5rem 2rem; 
	margin-bottom: 1%
}
#myTab{
	background: #fff; 
	width: 38%; 
	border-radius: 5px
}

.search-box{
	text-align: -webkit-right;
}
.btn-search-box{
	position: absolute; left: 90%;
	bottom: 30%;
}

.btn-search-box>button{
	background: #06468b;
	border: none;
	color: #fff;
	padding: 0.4rem 1rem;
	border-end-end-radius: 50px;
	border-start-end-radius: 50px;
}
.head-details>div{
	margin-top: 1%;
}


.navegation-mobile>.nav-head{
	display: flex;
    justify-content: space-between;
    padding: 0rem 1rem
}
.nav-head>.menu{
	align-self: flex-end;
}

.icon-menu-mobile{
	font-size: 40px
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0px;
    left: -53%;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #3e4f5c;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
 
.sidebar-nav {
    position: absolute;
    top: 10px;
    width: 95%;
    margin: 0;
    padding: 0;
    text-align: left;
    padding: 0rem 1rem
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
 
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}
 
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}
 
.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}
 
.sidebar-nav > .sidebar-brand a {
    color: #999;
}
 
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
 
#sidebar-wrapper.active {
    right: 250px;
    width: 30%;
    background: #eeeeee;
    left: -9%;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
 
.wl a {
 color: #91a9cf; 
}
.overlay-report {
    background: #00000080;
    height: 200%;
    z-index: 1;
    width: 90%;
    position: absolute;
    left: 10%;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.form-control-simple{
	border: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #000;
	font-size: 14px;
	background: #fff0;
	padding: 0;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}
.form-control-simple:focus{
	border: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #000;
	box-shadow: 0 0 0 #fff0;
	background: #fff0
}
.btn-download-report{
	color: #007040;
    font-size: 25px;
    margin: 0rem .25rem
}
.btn-delete-report{
	color: #700000;
    font-size: 25px;
    margin: 0rem .25rem
}
.btn-download-report:hover{
	color: #007040;
	text-decoration: none
}
.btn-delete-report:hover{
	color: #700000;
	text-decoration: none
}
.fa-lg{
	color: #700000
}
#close-menu{
	float: right
}
.content-report{
	margin-top: 25%;
    padding: 1rem;
}
.card-input-report{
	border-radius: 5px; 
	margin: 1rem 0rem
}
.card-body-input-report{
	padding: 1rem 0rem;
}
.input-report{
	display: inline-flex;
}
.label-input-report{
	align-self: end; 
	font-size: 16px; 
	font-weight: 600
}
.btn-dw-report{
	width: 50%;
    font-size: 18px;
    margin: 1rem 0rem;
}
.report-list{
	list-style: none;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 285px;
    padding: 0rem 0.2rem;
}
.report-list>li{
	margin: 3% 0%;
	background: #fff;
    padding: 1.5rem;
    box-shadow: 0px 0px 10px #bdbdbd
}
.card-report{
	border-radius: 5px;
}
.card-details-report{
	display: inline-flex;
}
.card-details-report>div{
	align-self: center
}
.text-report{
	font-weight: 500
}
.align-buttons-report{
	position: relative; 
	left: 20%
}




/* CSS MAP */

#gmap_canvas{
	width: 100%;
	height: 1000px
}
.filters-map{
	position: absolute; 
	top: 10%; 
	left: 68%; 
	width: 30%
}
.details-deliverys{
	padding: 0
}
.ul-details-deliverys{
	display: inline-flex; 
	list-style: none; 
	padding: 0; 
	margin-bottom: 0
}

	.label-weight{
    font-weight: 600
}
	.icon-for-select {
    background-color: #fff;
    border-right: 0px;
    font-size: 20px;
    color: #5a96be
}

	.icon-select {
	    border-left: 0px;
}
	.icon-select:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}
.btn-secondary-custom{
	background: transparent;
	border: 2px solid #06468b; 
	font-size: 14px;
	color: #06468b 
}
.btn-secondary-custom:hover{
	background: #06468b;
	color:  #fff !important
}
.icon-button{
	font-size: 20px; 
	margin-right: 10px;
}


.nav-item>a{
	color: #000
}
#pills-tab{
	place-content: center;
}
.nav-pills .nav-link{

	font-weight: 600
}
.nav-pills-tab .nav-link-tab.active{
    color: #fff;
    /* background-color: #002852; */
    border-left: 0px;
    border-bottom: 3px solid #007040;
    border-radius: 0px;
    background: none;
    color: #000
}
.accordion>.card:not(:last-of-type) {
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin: 10px 0px;
}
.card-header {
    padding: 0px;
    background-color: #fff;
}
.card-body-collapse{
	background: #fafafa
}
.icon-collapse{
	font-size: 20px;
	color: #5a96be;
	margin-right: 5px;
	bottom: 2px;
    position: relative;

}
.text-collapse{
	font-size: 13px;
	text-align: justify;
    display: inline-block;
}



.modal-content{
	border-radius: 10px
}


.carousel-inner {
    padding: 1rem 0rem;
}
.carousel-item{
	padding: 0rem 6rem;
}
.carousel-control-prev-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="100" height="100" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"%3E%3Cpath fill="%23212529" d="M609.408 149.376L277.76 489.6a32 32 0 0 0 0 44.672l331.648 340.352a29.12 29.12 0 0 0 41.728 0a30.592 30.592 0 0 0 0-42.752L339.264 511.936l311.872-319.872a30.592 30.592 0 0 0 0-42.688a29.12 29.12 0 0 0-41.728 0z"%2F%3E%3C%2Fsvg%3E')
 !important;
}
.carousel-control-next-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="100" height="100" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"%3E%3Cpath fill="%23212529" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512L340.864 831.872a30.592 30.592 0 0 0 0 42.752a29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z"%2F%3E%3C%2Fsvg%3E') !important;
}
.carousel-control-next, .carousel-control-prev {
	opacity: 1 !important
}
.carousel-control-next-icon, .carousel-control-prev-icon{
	width: 70px;
    height: 60px;
}
.card-deliverys{
	background: transparent;
    border: 0;
}
.card-image-delivery{
	width: 100px;
    height: 100px;
    left: 25%;
    position: relative;
    top: 30px;
    border-radius: 10px;
}
.card-name-delivery{
	background: #fff;
    padding: 1rem 0rem;
    padding-bottom: 0.5rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #bdbdbd;
}
.card-title{
	font-size: 14px; 
	margin-top: 10%
}
.navbar{
	padding: 0
}
#topheader .navbar-nav li > a {
	text-transform: capitalize;
	color: #333;
	transition: background-color .2s, color .2s;
	padding: 0rem 1rem;
	transition: .3s;
	&:hover,
	&:focus {
		background-color: #333;
		color: #fff;
	}
}
#topheader .navbar-nav li > a:hover {
	color: #06468b;
    border-left: 8px solid #007040;
    border-radius: 0px;
    background: none;
}


#topheader .navbar-nav li.active > a {
    color: #06468b;
    border-left: 8px solid #007040;
    border-radius: 0px;
    background: none;
}

.table-responsive  {
    display: inline-table;
}


@media only screen and (max-width: 768px) {
.table-responsive  {
    display: inherit !important;
}
	.navegation{
		display: none;
	}
	.navegation-mobile{
		width: 100% !important;
		display: block;

	}
	.item-nav{
	margin: 3%
}
	.content{
		width: 100% !important
	}
	#overlay-sidebar{
		display: none
	}
	.input-search {
    width: 100%;
    text-align: center;
}
.btn-filter-index {
    width: 100%;
}
#myTab {
    width: 100%;
}
.item-tab {
    width: 50%;
}
.search-box {
    text-align: -webkit-left;
}
.btn-search-box {
    left: 55%;
}
.content-report{
	margin-top: 5%
}
.btn-dw-report{
	width: 100%
}
#topheader .navbar-nav li > a:hover {
	color: #06468b;
    border-left: 0px !important;
    border-bottom: 8px solid #007040;
    border-radius: 0px;
    background: none;
}


#topheader .navbar-nav li.active > a {
    color: #06468b;
    border-left: 0px !important;
    border-bottom: 8px solid #007040;
    border-radius: 0px;
    background: none;
}
.filters-map {
    position: absolute;
    top: 70%;
    left: 0%;
    width: 100%;
    padding: 1rem;
}
}

/*.datepicker table tr td.today{
    color: #fff !important;
    background-color: #06468a !important;
    border-color: #06468a !important;
}*/
/*.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #06468a !important;
    border-color: transparent !important;
    color: #fff !important;
}*/
.btn-primary{
	background: #007040;
	border-color: #007040;
	color: #fff;
}
.btn-primary:hover{
	background: #007040;
	border-color: #007040;
	color: #fff;
}
		.btn-crud{
		border-radius: 50%;
	    height: 40px;
	    width: 40px;
	    padding: 0rem;
	}
	.btn-success-sn{
		background: #007040;
		color: #fff;
	}
	.btn-delete{
		background: #f2433a;
		color: #fff
	}
	.btn-success-sn:hover{
		color: #fff;
	}
	.btn-delete:hover{
		color: #fff
	}
	.table{
		font-size: 14px
	}
	.table td, .table th {
    padding: 1rem 0.75rem;
    vertical-align: unset;
    border-top: 1px solid #dee2e6;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent;
}
#dropdownMenuButton:focus{
	box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}
.dropdown-menu{
	position: absolute;
    transform: translate3d(-40px, 38px, 0px) !important;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #06468b;
    border-color: #06468b;
    border-radius: 50%;
}
.text-modal-delte{
	font-size: 20px;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem; 
}
.file {
  visibility: hidden;
  position: absolute;
}
.img-thumbnail {
    padding: 0rem;
    background-color: transparent;
    border: 0px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 50%;
    width: 150px;
    height: 150px
}
.file-license{
  visibility: hidden;
  position: absolute;
}
.file-dni{
  visibility: hidden;
  position: absolute;
}
.file-vehicle{
  visibility: hidden;
  position: absolute;
}
	
.img-license{
	border-radius: 10px !important;
	width: 200px;
}

.status-waiting{
	color: #700000;
	margin-right: 3%
}
.status-processing{
	color: #d7d000;
	margin-right: 3%
}
.status-completed{
	color: #0c7c14;
	margin-right: 3%
}
.buttons-content{
  display: inline-flex;
  width: 100%;
  margin: 1rem 0rem;
}
.simple-add{
  width: 50%;
  align-self: center;
}
.icon-btn-special{
  color: #fff;
  margin: 0rem .5rem
} 
	.card{
		background: #fafafa;
		box-shadow: 0px 0px 10px #bdbdbd;
	}
	.card-body{
		padding: 2rem 1rem;
	}
	.modal-title{
		font-weight: 500 !important;
	}
	.modal-header{
		padding: 0.5rem 1rem;
    	border-bottom: 0px solid #fff;
	}
	.modals-image{
		cursor: pointer !important;
	}